<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362141200844-n6s3vactqg330pdgq9bgk09ugp88nn1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362141200844-n6s3vactqg330pdgq9bgk09ugp88nn1a</string>
	<key>API_KEY</key>
	<string>AIzaSyAHL6KzuJYSMcuXDedh4dFZl8ehJB3q_F4</string>
	<key>GCM_SENDER_ID</key>
	<string>362141200844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iccycream</string>
	<key>PROJECT_ID</key>
	<string>ice-cream-7deb3</string>
	<key>STORAGE_BUCKET</key>
	<string>ice-cream-7deb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362141200844:ios:d427543da7da2f2778ad69</string>
</dict>
</plist>